* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ebdc0b;
}

::selection{
    background-color: #ebdc0b;
    color: #000;
}

.hero {
    width: 100vw;
    height: 100vh;
    padding: 3em;
}

.preloader {
    width: 200%;
    height: 100%;
    padding: 2em;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 0.5em;
    overflow: hidden;
    z-index: 2;
}

.preloader p {
    width: max-content;
    text-transform: uppercase;
    font-family: Timmons;
    font-size: 60px;
    line-height: 60px;
}

.counter {
    height: 100px;
    display: flex;
    font-family: Timmons;
    font-size: 100px;
    font-weight: 400;
    line-height: 150px;
    clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
}

.digit-1,
.digit-2,
.digit-3,
.digit-4 {
    position: relative;
    top: -15px;
}

.offset {
    position: relative;
    right: -7.5px;
}

.progress-bar {
    position: relative;
    top: -15px;
    width: 0;
    height: 4px;
    background-color: #000;
}

.hero-imgs {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.website-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 2em;
}

nav > div{
    flex: 1;
    font-family: Timmons;
    font-size: 36px;
    font-weight: lighter;
    color: #ebdc0b;
    text-transform: uppercase;
}

.logo{
    cursor: pointer;
}

.site-info{
    text-align: center;
}

.menu{
    text-align: right;
    cursor: pointer;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header>h1{
    font-family: Neue;
    font-size: 20vw;
    font-weight: 200;
    text-transform: uppercase;
    color: #ebdc0b;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);  
}

h1 span{
    position: relative;
}

/* Responsive */

@media (max-width: 900px) {
    .preloader{
        padding: 1em;
    }

    .counter{
        font-size: 70px;
    }

    .preloader p{
        font-size: 40px;
        line-height: 64px;
    }

    .offset{
        right: -5px;
    }
}